<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Detalle de película
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>  <!-- style="background-image: url('{{pelicula.poster_path}} | imagen');" -->
    <ion-row>
      <ion-col size="12"><img class="fondo" [src]="pelicula.backdrop_path | imagen"></ion-col>
    </ion-row>    
    <ion-row>
      <ion-col class="subir70 derecha10" size="4"><img class="poster" [src]="pelicula.poster_path | imagen"></ion-col>
      <ion-col class="subir20 derecha10" size="8">
        <h3><b>{{pelicula.title}}</b> ({{pelicula.release_date | date : "y"}})</h3>
        <div style="margin-right: 10px;" ><ion-text class="ion-hide-sm-down" color="medium"> {{pelicula.tagline}} </ion-text></div> 
      </ion-col>
    </ion-row>    
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="subir70" size="12"><b>Generos:</b>
        <ion-chip *ngFor="let genero of pelicula.genres" color="primary">
          <ion-label>{{genero.name}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="subir70" size="12" size-md="6"><b>Recomendación popular: </b> <ion-text color="medium">{{pelicula.vote_average*10}}%</ion-text> </ion-col>
      <ion-col class="subir70" size="12" size-md="6"><ion-text color="medium"> (<b>{{pelicula.vote_count}}</b> votos,  promedio: <b>{{pelicula.vote_average}}</b> de 10)</ion-text></ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="subir50" size="12"><b>Sinopsis: </b><ion-text color="medium">{{pelicula.overview}}</ion-text></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
      <ion-button expand="block" (click)="volver()">
        <ion-icon slot="start" name="arrow-back-outline"></ion-icon>
        Volver
      </ion-button>
  </ion-toolbar>
</ion-footer>
