<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Buscar película
    </ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar película" debounce="650" [value]="busqueda" (ionChange)="buscarPelicula($event)" animated></ion-searchbar>
</ion-header>

<ion-content>
  
  <ion-grid *ngIf="!sinResultados && !sugerencias">
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="6" *ngFor="let pelicula of peliculasResultado">
        <ion-card (click)="mostrarDetalle( pelicula.id )">
          <img [src]="pelicula.poster_path | imagen">
          <ion-card-header>
            <ion-card-subtitle>{{pelicula.release_date | date }}</ion-card-subtitle>
            <ion-card-title><b>{{pelicula.title}}</b></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{pelicula.overview | slice: 0: 75 }}...
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngIf="sinResultados && !sugerencias">
        <ion-text color="primary">
          <h1>Lo siento! No hay resultados para "{{busqueda}}"!</h1>
        </ion-text>
      </ion-col>
      <ion-col size="12" *ngIf="sugerencias">
        <ion-label>Sugerencias: </ion-label>
        <ion-list>
          <ion-item *ngFor="let i of ['Vengadores','Titanic','El padrino','Superman']" (click)="busqueda=i">
            <ion-label color="primary">{{i}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
