<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      Películas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg="3" size-md="4" size-sm="6" *ngFor="let pelicula of peliculas">
        <ion-card (click)="mostrarDetalle( pelicula.id )">
          <img [src]="pelicula.poster_path | imagen">
          <ion-card-header>
            <ion-card-subtitle>{{pelicula.release_date | date }}</ion-card-subtitle>
            <ion-card-title><b>{{pelicula.title}}</b></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{pelicula.overview | slice: 0: 75 }}...
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
